@use "../general/general" as *;

@media (min-width: 1024px) {


  .projet-hero{
    margin: 5%;
    &__title{
      font-size: $semi__big__title;
      margin: 5% auto;

    }
    &__contenu{
      display: flex;
      gap: 5rem;
    }
    &__description {
      p:first-child {
        font-size: 2rem;
        font-weight: 400;
      }
    }
      &__description p{
        margin-bottom: 5%;
      }

  }
}
