// Variables
$background: #F2F2F2;
$background__footer: #230101;
$principale__color__blue: #003CFF;
$light__blue: rgb(0 120 189 / 0.34);
$extre__light__blue: #76f3e0;
$secondary-color: #3498db;

$black: #000000;
$white: #ffffff;
$error-color: #e74c3c;
$success-color: #27ae60;

$big__title : 5rem;
$semi__big__title : 3rem;
$text : 1rem;

$didot__famile: Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif;
$didot__Cormorant__Garamond: Cormorant Garamond;
$primary: #2f5aff;
$light-gray: #D9D9D9;
$text: #111;
$primary: #2f5aff;
$text: #111;
$bg-card: #f0f0f0;
$card: #f0f0f0;
$radius: 20px;


.sro, .hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.no-js-message {
  display: block;
  background: $principale__color__blue;
  color: $white;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 20px;
}

.js-enabled .no-js-message {
  display: none;
}