// Variables
$background: #F2F2F2;
$background__footer: #230101;
$principale__color__blue: #003CFF;
$black: #000000;
$white: #ffffff;
$didot__famile: Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif;
$didot__Cormorant__Garamond: Cormorant Garamond;
$primary: #2f5aff;
$bg: #f5f5f5;
$text: #111;
$primary: #2f5aff;
$text: #111;
$bg-card: #f0f0f0;
$card: #f0f0f0;
$radius: 20px;


.sro, .hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}