// Variables
$background: #F2F2F2;
$background__footer: #000000;
$principale__color__blue: #003CFF;
$black: #000000;
$white: #ffffff;
$didot__famile: Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif;
$didot__Cormorant__Garamond: Cormorant Garamond;
$white: #ffffff;

.sro, .hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}