@use "../general/general" as *;

.ul-container {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.ul-container a {
  text-decoration: none;
  color: var(--text-color);
  transition: color .3s;
}

.ul-container a:hover {
  color: $primary;
  border-bottom: 1px solid $white;
}

/* Page active */
.current-menu-item > a,
.current_page_item > a {
  color: var(--primary);
  font-weight: 700;
  border-bottom: 1px solid $white;

}
.current-menu-item > a {
  color: $primary;
}